services:
  ecommerce-db:
    container_name: ecommerce_db
    image: mariadb:latest
    volumes:
      - ./sql/:/docker-entrypoint-initdb.d/
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: ecommerce-db
      MYSQL_USER: user
      MYSQL_PASSWORD: unsafe_password
      MYSQL_RANDOM_ROOT_PASSWORD: true
    networks:
      - just_dance

  phpmyadmin:
    container_name: php_my_admin
    image: phpmyadmin/phpmyadmin
    ports:
      - "8000:80"
    environment:
      PMA_HOST: ecommerce-db
      PMA_USER: user
      PMA_PASSWORD: unsafe_password
    depends_on:
      - ecommerce-db
    networks:
      - just_dance

  php:
    container_name: apache
    build: .
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - ecommerce-db
    links:
      - ecommerce-db
    networks:
      - just_dance
    stdin_open: true
    tty: true

networks:
  just_dance:
    driver: bridge
volumes:
  db_data:


